@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020617;
  color: white;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

::selection {
  background: #06b6d4;
  color: white;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}